{% extends 'blog/base.html' %} {% block content %}
<article class="post">
  <h2>{{ post.title }}</h2>
  <p class="date">
    Published on {{ post.created_at|date:"F d, Y" }} by {{ post.author }}
  </p>
  <div class="post-content">{{ post.content|linebreaks }}</div>
</article>

<hr />

<section class="comments">
  {% with comments.count as total_comments %}
  <h3>{{ total_comments }} comment{{ total_comments|pluralize }}</h3>
  {% endwith %} {% for comment in comments %}
  <div class="comment">
    <p class="info">
      Comment by {{ comment.name }} on {{ comment.created_at|date:"F d, Y" }}
    </p>
    {{ comment.body|linebreaks }}
  </div>
  {% empty %}
  <p>There are no comments yet.</p>
  {% endfor %}
</section>

<hr />

<section class="comment-form">
  {% if new_comment %}
  <div class="alert-success">Your comment is awaiting moderation.</div>
  {% else %}
  <h3>Leave a comment</h3>
  <form method="post">
    {{ comment_form.as_p }} {% csrf_token %}
    <button type="submit">Submit</button>
  </form>
  {% endif %}
</section>
{% endblock content %}
